@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Open sans",sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #a63822;
}

header{
    display: flex;
    height: 100px;
    justify-content: space-between;
}

/* headings and logo */
h1 {
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration-line: underline;
}

h2 {
    padding: 50px;
    text-align: center;
    line-height: 150%px;
    
}

#logo {
    margin-left: 0;
    margin-top: 0;
}

#menu {
    font-size: 100%;
    font-weight: bold;
    letter-spacing: 4px;
    display: flex;
}

#menu, #logo {
    line-height: 100px
}

#menu li {
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: #a63822;
}

#menu a:hover {
    border-bottom: 1px solid #a63822;
}

/* Cover image and cover text*/ /* animation is not working as expected, covering header and about us section */
#cover-zoom {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h1 {
    color: #fff;
    line-height: 100%;
}

#cover-image {
    height: 90vh;
    width: 100%;
    background-image: url(../images/ice-skating.jpg);
    /* animation-name: cover-zoom; */
    /* animation-duration: 4s; */
    /* animation-fill-mode: forwards; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Cover zoom animation */
@keyframes cover-zoom{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    color: #fff;
    letter-spacing: 4px;
    text-align: left;
    text-decoration-line: none;

    width: 290px;
    height: 100px;

    padding-top: 30px;
    padding-left: 10px;

    background-color: #a63822;

    bottom: 100px;
    right: 100px;

    position: absolute;
}

/* Info section with about us, history, nature and events*/
#introduction {
    text-align: center;
}

.title-section {
    color: #fff;
    background-color: #a63822;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;

    height: 100px;
    width: 100%;
}

#container-info {
    display: flex;
    flex-flow: row;
    height: 100vh;
    position: relative;
}

#left-text, #center-text, #right-text {
    width: 33.33%;
}

/* Gallery */
#container-gallery {
    display: flex;
    flex-flow: row;
    height: 50vh;
    position: inherit;
}

#gallery-box1, #gallery-box2, #gallery-box3, #gallery-box4 {
    width: 25%;
}

/* Fotter */
footer {
    height: 150px;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #a63822;
}

/* Icons */
.icon {
    color: #fff;
}