@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}

body {
    font-family: "Open sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #a63822;
}

header {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

/* Images */
img {
    max-width: 100%;
    display: block;
}


/* headings and logo */
h1 {
    letter-spacing: 4px;
    text-transform: uppercase;
}

h2 {
    padding: 50px;
    text-align: center;
    line-height: 150%px;
}

p {
    padding: 50px;
    text-align: center;
    line-height: 150%px;
}

#logo {
    margin-left: 15px;
    margin-top: 5px;
    max-width: 20vh;
    max-height: 10vh;
}

#menu {
    font-size: 100%;
    font-weight: bold;
    letter-spacing: 4px;
    display: flex;
}

#menu,
#logo {
    line-height: 80px
}

#menu li {
    margin-right: 25px;
}

#menu li a {
    color: #a63822;
    display: block;
    text-decoration: none;
    padding: 0 10px;
}

#menu a:hover {
    border-bottom: 1px solid #a63822;
}

/* Cover image and cover text*/
/* animation is not working as expected, covering header and about us section */
#cover-zoom {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h1 {
    font-size: 80%;
    color: #fff;
    line-height: 100%;
}

#cover-image {
    height: 90vh;
    width: 100%;
    background-image: url(../images/ice-skating.jpg);
    /* animation-name: cover-zoom; */
    /* animation-duration: 4s; */
    /* animation-fill-mode: forwards; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Cover zoom animation */
@keyframes cover-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    color: #fff;
    letter-spacing: 4px;
    text-align: left;
    text-decoration-line: none;

    width: 20vh;
    height: 10vh;

    padding-top: 30px;
    padding-left: 10px;

    background-color: #a63822;

    bottom: 100px;
    right: 100px;

    position: absolute;
}

/* Info section with about us, history, nature and events*/
#intro {
    text-align: center;
}

.title-section {
    display: flex;
    color: #fff;
    background-color: #a63822;


    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;

    height: 100px;
    width: 100%;
}

#info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    justify-content: space-between;
}

/* Gallery */
.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    columns: 2;
}

.flex>h2 {
    flex: 1 1 250px;
    margin: 10px;
    justify-content: center;
}

#gallery-box1,
#gallery-box2,
#gallery-box3,
#gallery-box4 {
    max-width: 262px;
    max-height: 195px;
}

#gallery-box1 {}

#gallery-box2 {
    background-image: url(../images/summer.JPG) no-repeat center center;
}

#gallery-box3 {
    background-image: url(../images/autumn.JPG) no-repeat center center;
}

#gallery-box4 {
    background-image: url(../images/winter.JPG) no-repeat center center;
}

/* Form section */

.form-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    background-image: url(../images/ArtknubbenView_fotoAnnaHolm_VisitDalarna.jpg) no-repeat center center;
}

.form-section>h2 {
    flex: 1 1 250px;
    margin: 10px;
    justify-content: center;
    
}

.signup-form {
    margin: 0 0 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    width: 100%;
    position: absolute;
}

.signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
    text-align: center;
}

.text-input {
    background: transparent;
    color: #fafafa;
    text-align: center;
    width: 90%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #a63822;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #a63822;
}

#form-buttons {
    text-align: center;
}

.submit-button {
    margin-top: 20px;
    margin-left: 40%;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #a63822;
    color: #fafafa;
    display: block;
    text-align: center;
}

.submit-button:hover {
    margin-top: 20px;
    border-radius: 2px;
    
    text-align: center;
    font-size: 100%;
    background-color: #fafafa;
    color: #a63822;
    position: block;
}

/* Fotter */
footer {
    height: 10px;
    margin-bottom: 0;
    position: relative;
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 10px 40px 10px 40px;
    color: #a63822;
}

/* Icons */
.icon {
    color: #fff;
}