@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Open sans",sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #a63822;
    line-height: 140%;
}

header{
    display: flex;
    justify-content: space-between;
}

/* headings and logo */
h1 {
    color: #a63822;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    color: #a63822;
    font-size: small;
    text-transform: capitalize;
    text-align: center;
}

#logo {
    float: left;
    font-size: 250%;
    font-weight: bold;
    margin-right: 25px;
    /* size: 50%;  NOT WORKING - change the size of the logo to something more adjustable */
}

#menu {
    font-size: 150%;
    font-weight: bold;
    letter-spacing: 4px;
    display: flex;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 25px;
   /* flex-direction: row;  NOT WORKING - change position to top right side  or change to float*/
}

#menu a {
    text-decoration: none;
    color: #a63822;
}

#menu a:hover {
    border-bottom: 1px solid #a63822;
}

/* Cover image and cover text*/
#cover-zoom {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#cover-image {
    height: 70vh;
    width: 100%;
    background-image: url(../images/ice-skating.jpg) /*no-repeat center center*/;
    /* animation-name: cover-zoom; */
    /* animation-duration: 4s; */
    /* animation-fill-mode: forwards; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Cover zoom animation */
@keyframes cover-zoom{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

#cover-text {
    color: white;
    letter-spacing: 4px;
    text-align: left;

    width: 250px;
    height: 100px;

    padding-top: 10px;
    padding-left: 10px;

    background-color: #a63822;

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* Info section with about us, history, nature and events*/
#topics {
    height: 600px;
}

#introduction {
    text-align: center;
    padding-top: 30px;
}

.cointainer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 300px;
    width: 100%;
}